

Welcome user <b>{{param.username}}</b>!
<br />
You are logged-in!
<br />
<br />
Authenticated with 
<ul>
    <li>Connector: <b>{{param.connector}}</b></li>
    <li>Blockchain: <b>{{param.blockchain_symbol}}</b></li>
    <li>Wallet: <b>{{param.wallet_id}}</b></li>
    <li>Address: <b>{{param.wallet_address}}</b></li>
</ul>
<br />
Authorizations:
<ul>
{{#each param.authorizations}}
    <li>{{name}} - {{#if isValid}}TRUE{{else}}FALSE{{/if}}</li>
{{/each}}
</ul>

<br />
<br />

<a href="/auth/logout">
    <button 
        class="signin-btn btn social-btn btn-primary"
        style="background-color: #28c4cc;" 
        tabindex="5"
    >
        Logout
    </button>
</a>